.CenteredItem {
    display:flex;
    justify-content: center;
    align-items: center;
    height:100%;
}

.SubmitButton {
    margin: 20px auto!important;
    display: block!important;
    font-size:26px!important;
}

.Typography {
    padding:5px;
}

.UpperFirstLetter::first-letter {
    text-transform: uppercase;
}